<a href="https://colab.research.google.com/github/francisco-reis-ramos/dados-imobiliarios-com-pandas/blob/main/Pandas_Conhecendo_a_Biblioteca.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Conhecendo a base de dados

## Importando os dados

In [1]:
import pandas as pd

In [ ]:
url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/base-de-dados/aluguel.csv'
pd.read_csv(url)

# Perceba na saída abaixo que a base está um pouco desconfigurada. Isso ocorre pq o read_csv por padrão considera a vírgula como elemento separador.

In [ ]:
# Maneira de ler a base fazendo a separação correta
pd.read_csv(url,sep=';')

In [ ]:
# Nomeando a base de dados áo criar uma variável
dados = pd.read_csv(url,sep=';')
dados

In [ ]:
# Exibindo registros iniciais da tabela através do método 'head()'
dados.head(10)

In [ ]:
# Exibindo registros finais da tabela através do método 'tail()'
dados.tail(7)

In [ ]:
type(dados)

## Características gerais da base de dados

In [26]:
# Verificando a quantidade de linhas e colunas da base
dados.shape

(32960, 9)

In [27]:
# Verificando os nomes das colunas
dados.columns

Index(['Tipo', 'Bairro', 'Quartos', 'Vagas', 'Suites', 'Area', 'Valor',
       'Condominio', 'IPTU'],
      dtype='object')

In [33]:
# É importante analisar os tipos de dados de cada coluna
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [ ]:
# Para entender cada um dos tipos de dados que compõem os campos da tabela, vamos visualizar uma coluna de cada tipo de dados.
dados['Tipo'] # Analisando o tipo object, conclui-se que se trata de strings.
dados['Quartos'] # Analisando o tipo int64, percebe-se que se trata de dados numéricos inteiros.
dados['Valor'] # Analisando o tipo float64, percebe-se que se trata de dados decimais. Portanto, pode representar valores monetários.

In [ ]:
# Visualizando os dados das três colunas ao mesmo tempo:
dados[['Tipo','Quartos','Valor']]

# Análise exploratória de dados

## Qual o valor médio de aluguel por tipo de imóvel?

## Removendo os imóveis comerciais

## Qual o percentual de cada tipo de imóvel na nossa base de dados?

### **Selecionando apenas os imóveis do tipo apartamento**

# Tratando e filtrando os dados

## Lidando com dados nulos

## Removendo registros

## Filtros

### **1. Apartamentos que possuem `1 quarto` e `aluguel menor que 1200`**

### **2. `Apartamentos` que possuem pelo menos `2 quartos`, `aluguel menor que 3000` e `area maior que 70`**

## Salvando os dados

# Manipulando os dados

## Criando colunas numéricas

## Criando colunas categóricas